  body{
    font-family: Arial;
    padding: 20px 10px;
    background-color: #333;
    color: white;
    -webkit-font-smoothing: antialiased;
    width: 1024px;
    height: 768px;
  }



  $board-h-squares: 9;
  $board-v-squares: 9;

  $board-padding: 10px;
  $tile-width: 77px;
  $road-1-width: 2px;
  $road-2-width: 4px;
  $road-3-width: 6px;
  $road-1-colour: #ffc345;
  $road-2-colour: #95d17b;
  $road-3-colour: #7687de;
  $road-curve: $tile-width / 2;

  $tile-1-colour: #f4f3f0;
  $tile-2-colour: #dfdbd4;
  $tile-3-colour: #cadfaa;

a,
a:hover,
a:visited,
a:active{
  color: lightblue;
  &:hover{
    text-decoration: none;
  }
}


  .board-base{
    padding: $board-padding;
    background-color: grey;
    display: inline-block;
    margin-top: -60px;
  }
  .board{ 
    height: $board-v-squares * $tile-width;
    display: inline-block;
  }

  .square{
    background-color: $tile-1-colour;
    width: $tile-width;
    height: $tile-width;
    position: relative;
    float: left;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    &.green{
      background-color: $tile-3-colour;
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cadfaa), color-stop(50%,#cadfaa), color-stop(52%,#f4f3f0), color-stop(100%,#f4f3f0), color-stop(100%,#7db9e8));
      background: -webkit-radial-gradient(center, ellipse cover, #cadfaa 0%,#cadfaa 50%,#f4f3f0 52%,#f4f3f0 100%,#7db9e8 100%);    }
    &.commercial{
      background-color: $tile-2-colour;
    }
    .tile{
      outline: none;
    }
  }

  .target-square{
    background-color: #ccc;
    box-shadow: inset 5px 5px 2px rgba(0, 0, 0, 0.2);
  }

  .tile{
    background-color: white;
    width: $tile-width;
    height: $tile-width;
    overflow: hidden;
    position: relative;
    float: left;
    outline: 1px solid #bbb;
    text-shadow: none;    
    cursor: hand;

    &.played{
      background: none;    
      &:hover{
        cursor: default;
      }
    }

    .value{
      float: right;
      padding: 4px 6px 0 0;
      color: #AAA;
      font-size: $tile-width / 5;
    }

    // Generic road styles
    .road{
      border: 1px solid grey;
      width: $tile-width * 2;
      height: $tile-width * 2;
      border-radius: $road-curve;
      position: absolute;

    }

    // Styles for different road types
    // We use border AND box shadow to keep the lines centred on the tiles
    .road-1 { border: $road-1-width / 2 solid $road-1-colour; box-shadow: 0 0 0 $road-1-width / 2 $road-1-colour; }
    .road-2 { border: $road-2-width / 2 solid $road-2-colour; box-shadow: 0 0 0 $road-2-width / 2 $road-2-colour; }
    .road-3 { border: $road-3-width / 2 solid $road-3-colour; box-shadow: 0 0 0 $road-3-width / 2 $road-3-colour; }

    .t-junct{
      border-radius: 0;
    }

    .airport{
      position: absolute;
      font-size: 50px;
      -webkit-transform: rotate(-45deg);
      left: 20px;
      top: 10px;
      color: #585048;
    }

    // Styles for different road orientations
    .tb{ bottom: $tile-width / -2; left: $tile-width / 2; } // Vertical line
    .lr{ top: $tile-width / 2; right: $tile-width / -2; }   // Horizontal line
    .tr{ bottom: $tile-width / 2; left: $tile-width / 2; }  // Top-right corner
    .tl{ bottom: $tile-width / 2; right: $tile-width / 2; } // Top-left corner
    .br{ top: $tile-width / 2; left: $tile-width / 2; }     // Bottom-right corner
    .bl{ top: $tile-width / 2; right: $tile-width / 2; }    // Bottome-left corner


    &.ui-draggable-dragging{
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
      //background-color: $tile-1-colour;
      outline: 1px solid #bbb;
    }
  }

.side-bar{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

.tile-count,
.player,
.new-game{
  padding: 10px;
  margin-right: 14px;
  margin-bottom: 20px;
  h2{
    font-size: 22px;
    margin: 5px 0;
  }
}

.player{
  background-color: grey;
}

.new-game{
  background-color: grey;
  padding-top: 10px;
}

.score{
  width: 130px;
  float: right;
  text-align: right;
  margin-top: -32px;
  font-size: 22px;
  font-weight: bold;
}

.tile-count{
  margin-top: 20px;
}


.tile-rack{
  background-color: #ccc;
  height: 258px;
  padding: 6px 0 0 6px;
  border-top: 10px solid grey;
  .tile{
    margin: 0 6px 6px 0;
    &:hover{
      cursor: hand;
    }
  }
}

.play-turn,
.new-game a{
  padding: 20px 0 20px 0;
  display: block;
  background: green;
  color: white !important;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  &:hover{
    background: lighten(green, 10%);
  }
}

.new-game a{
  margin-top: 0;
  color: white;
}

.player h2{
  color: white;
}

.winner{
  background-color: green;
}

// =======================================
// 'HOW TO PLAY' DIALOG

// Link
.how-to-play{
  margin-right: 15px;
  margin-top: -42px;
  float: right;
}

// Dialog overlay
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  filter:Alpha(Opacity=30); 
}

// Dialog box
.ui-dialog{
  background-color: #444;
  border: 10px solid black;
  padding: 0 20px;
  position: absolute;
  overflow: hidden;
  h2{
    margin-top: 0;
  }
}
.ui-dialog-titlebar-close{
  margin: 10px -10px;
  float: right;
}

.close-help{
  outline: none;
}


